.header {
  margin: 0 5px 50px 5px;
  padding: 0 5px;
}

.nav {
}

.nav-list {
  margin-top: 4px;
  float: right;
  display: flex;
  list-style: none;
  gap: 1.1rem;
  align-items: center;
}

.nav-link {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.nav-link:hover {
  text-decoration: underline;
}

.icon-img {
  height: 25px;
  opacity: 0.5;
}

.icon-img:hover,
.icon-img:active {
  opacity: 0.8;
  transition: 0.2s;
}

.userphoto {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* -------------------------------------- */

.google-logo-image {
  height: 93px;
  width: auto;
}
